@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-columns: 2fr 7fr;
}

body.centered {
    font-family: Roboto, sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

div#head-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

table {
    border-collapse: collapse;
}

table tr {
    border: 2px black solid;
}

thead {
    background-color: black;
    color: white;
    border: 2px black solid;
}

thead th {
    padding: 5px 10px;
    border: 2px black solid;
}

td.platform {
    text-align: center;
}

tr#now {
    background-color: yellow;
}

tbody tr:nth-child(even) {
    background-color: #d9d9d9;
}